* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.huvudsida {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 30% 10% 10% 20% 30%;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(fire_clean.jpg);
  background-size: cover;
  justify-items: center;
}

.headerCompany{
  padding: 1vw;
  background-image: url(header_proffs.jpg);
}

.headerPrivat{
  padding: 1vw;
  background-image: url(fire_header.jpg);
}

.headerTop {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2.5vw;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.headerBottom {
  display: flex;
  justify-content: center;
  font-size: 1.7vw;
  margin-top: 1vw;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navCompany {
  padding: 0.7vw;
  background-color: rgb(72, 88, 180);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navPrivat {
  padding: 0.7vw;
  background-color: rgb(177, 45, 22);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {  
  font-size: 1.1vw;
  color: white;
  text-decoration: none;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}
nav a:hover {
  font-style:italic;
  text-decoration: underline;
}

.sidnamn {
  grid-column: 2/4;
  grid-row: 2;
  justify-self: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.slogan {
  grid-column: 2/4;
  grid-row: 3;
  justify-self: center;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Privatperson {
  grid-column: 2;
  grid-row: 4;
  transition: transform 0.2s;
}

.Privatperson:hover {
  transform: scale(1.1);
}

.Företag {
  grid-column: 3;
  grid-row: 4;
  transition: transform 0.2s;
}

.Företag:hover {
  transform: scale(1.1);
}

.eShopCompany {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.5fr 0.5fr 1fr 0.3fr 2fr 0.5fr;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(blue_background.jpg);
  background-size: cover;
}

.eShopPrivat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.5fr 0.5fr 1fr 0.3fr 2fr 0.5fr;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(fire_background.jpg);
  background-size: cover;
}

.shopRubrik {
  grid-row: 2;  
  grid-column: 2/5;  
  font-size: 70px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-self: center;
  align-self: center; 
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.shopInfo {
  grid-row: 3;
  grid-column: 2/5;  
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-self: center;
  align-self: start;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.eShopText {
  color: white;
  justify-content: center;
  font-size: 1.5vw;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

.fotogenPos {
grid-row: 4;
grid-column: 2;
transition: transform 0.4s;
}

.fotogenPos:hover{
  transform: scale(1.1);
}

.tändstickorPos {
  grid-row: 4;
  grid-column: 3;
  transition: transform 0.4s;
}
.tändstickorPos:hover {
  transform: scale(1.1);
}

.brandsläckarePos {
  grid-row: 4;
  grid-column: 4;
  transition: transform 0.4s;
}
.brandsläckarePos:hover {
  transform: scale(1.1);
}

.gasolPos {
  grid-row: 6;
  grid-column: 2;
  transition: transform 0.4s;
}
.gasolPos:hover {
  transform: scale(1.1);
}

.bokPos {
  grid-row: 6;
  grid-column: 3;
  transition: transform 0.4s;
}
.bokPos:hover {
  transform: scale(1.1);
}

.molotovPos {
  grid-row: 6;
  grid-column: 3;
  transition: transform 0.4s;
}
.molotovPos:hover {
  transform: scale(1.1);
}

.tändarePos {
  grid-row: 6;
  grid-column: 4;
  transition: transform 0.4s;
} 
.tändarePos:hover {
  transform: scale(1.1);
}

.footer {
  background-color: white;
  opacity: 0.5;
  grid-row: 7;
  grid-column: 1/6;
}

 .footerText {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-self: center;
  margin-top: 3vh;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin-right: 20vw;
  margin-left: 20vw;
} 

.orderedPrivateMain {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(fire_background.jpg);
  background-size: cover;
}

.orderedCompanyMain {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(blue_background.jpg);
  background-size: cover;
}

.order {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4vw;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  margin-top: 5vh;
}

.orderInfo {
  grid-row: 2;
  grid-column: 2;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.orderInfo div {
  display: flex;
  flex-direction: column;
  justify-self: center;  
}

label {
  margin-top: 2vh;
  color: white;
  font-size: 2vw;
  align-items: top;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

input {
  margin-top: 1vh;
  color: black;
  width: 60vw;
  height: 4vw;  
  align-items: middle;
  font-size: 2vw;
}

.answer { 
  display: flex;
}

.answer p {
  justify-self: center;
  align-self: center;
  margin-top: 3vh;
  width: 19vw;
  height: 4vw;  
  border-radius: 1vw;
  border-color: black;
  color: white;
  font-size: 2vw;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

.mainCompany {
  background-image: url(blue_background.jpg);
  background-size: cover;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
}

.mainPrivate {
  background-image: url(fire_background.jpg);
  background-size: cover;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
}

.contentPos {
  grid-row: 2;
  grid-column: 2;
  size: 60vh, 60vw;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 3vh;
}

.list {
  grid-row: 2;
  grid-column: 2;
  size: 60vh, 60vw;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 3vh;
}

li {
  grid-row: 2;
  grid-column: 2;
  color:rgba(rgb(0rgb(0, 0, 0)0), rgb(0, 0, 0), rgb(0, 0, 0), 1);
  margin: 4vh;
  font-size: 1.8vw;
  font-family: 'Times New Roman', Times, serif;
}

.customerMainPrivate {
  background-image: url(fire_background.jpg);
  background-size: cover;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
}

.customerMainCompany {
  background-image: url(blue_background.jpg);
  background-size: cover;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
}

.blur {
grid-row: 2;
grid-column: 2;
size: 80vh, 80vw;
background-image: none;
background-color: rgba(255, 255, 255, 0.616);
border-radius: 3vh;
display: grid;
}

td {
  font-size: 1.5vw;
  margin-right: 1vw;
}

th {
 font-size: 1.5vw;
 text-align: left;
}

p.history {
  color:rgba(rgb(0rgb(0, 0, 0)0), rgb(0, 0, 0), rgb(0, 0, 0), 1);
  margin: 3vh;
  font-size: 1.6vw;
  font-family: 'Times New Roman', Times, serif;
}

.orderbutton {
  height: 15vh;
  width: 20vw;
  align-self: center;
  border: 0.5vh solid black;
  }
