* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.huvudsida {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 30% 10% 10% 20% 30%;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(FireClean.jpg);
  background-size: cover;
  justify-items: center;
}

.headerPrivat{
  padding: 20px;
  background-image: url(Header\ Proffs.jpg);
}

.headerTop {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.headerBottom {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav {
  padding: 10px;
  background-color: rgb(72, 88, 180);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {  
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

.sidnamn {
  grid-column: 2/4;
  grid-row: 2;
  justify-self: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.slogan {
  grid-column: 2/4;
  grid-row: 3;
  justify-self: center;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Privatperson {
  grid-column: 2;
  grid-row: 4;
  transition: transform 0.2s;
}

.Privatperson:hover {
  transform: scale(1.1);
}

.Företag {
  grid-column: 3;
  grid-row: 4;
  transition: transform 0.2s;
}

.Företag:hover {
  transform: scale(1.1);
}
