* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.huvudsida {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 30% 10% 10% 20% 30%;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(FireClean.jpg);
  background-size: cover;
  justify-items: center;
}

.headerCompany{
  padding: 20px;
  background-image: url(Header\ Proffs.jpg);
}

.headerPrivat{
  padding: 20px;
  background-image: url(fire\ header.jpg);
}

.headerTop {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.headerBottom {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  color: white;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navCompany {
  padding: 10px;
  background-color: rgb(72, 88, 180);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navPrivat {
  padding: 10px;
  background-color: rgb(177, 45, 22);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {  
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}
nav a:hover {
  font-style:italic;
  text-decoration: underline;
}

.sidnamn {
  grid-column: 2/4;
  grid-row: 2;
  justify-self: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.slogan {
  grid-column: 2/4;
  grid-row: 3;
  justify-self: center;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Privatperson {
  grid-column: 2;
  grid-row: 4;
  transition: transform 0.2s;
}

.Privatperson:hover {
  transform: scale(1.1);
}

.Företag {
  grid-column: 3;
  grid-row: 4;
  transition: transform 0.2s;
}

.Företag:hover {
  transform: scale(1.1);
}

.eShop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.5fr 0.5fr 1fr 0.3fr 2fr 0.5fr;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(blue_background.jpg);
  background-size: cover;
}

.shopRubrik {
  grid-row: 2;  
  grid-column: 2/5;  
  font-size: 70px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-self: center;
  align-self: center; 
  color: white;
  text-shadow: -1px 0 black, 0 1px rgb(231, 138, 138), 1px 0 black, 0 -1px black;
}

.shopInfo {
  grid-row: 3;
  grid-column: 2/5;  
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-self: center;
  align-self: start;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

  .fotogenPos {
  grid-row: 4;
  grid-column: 2;
  transition: transform 0.4s;
}
.fotogenPos:hover {
  transform: scale(1.1);
}

.tändstickorPos {
  grid-row: 4;
  grid-column: 3;
  transition: transform 0.4s;
}
.tändstickorPos:hover {
  transform: scale(1.1);
}

.brandsläckarePos {
  grid-row: 4;
  grid-column: 4;
  transition: transform 0.4s;
}
.brandsläckarePos:hover {
  transform: scale(1.1);
}

.gasolPos {
  grid-row: 6;
  grid-column: 2;
  transition: transform 0.4s;
}
.gasolPos:hover {
  transform: scale(1.1);
}

.bokPos {
  grid-row: 6;
  grid-column: 3;
  transition: transform 0.4s;
}
.bokPos:hover {
  transform: scale(1.1);
}

.tändarePos {
  grid-row: 6;
  grid-column: 4;
  transition: transform 0.4s;
} 
.tändarePos:hover {
  transform: scale(1.1);
}

.footerCompany {
  background-color: white;
  opacity: 0.5;
  grid-row: 7;
  grid-column: 1/6;
}

.footerText {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-self: center;
  margin-top: 3vh;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin-right: 20vw;
  margin-left: 20vw;
} 