* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 30% 10% 10% 20% 30%;
  max-width: 100vw;
  min-height: 100vh;
}

.sidnamn {
  grid-column: 2/4;
  grid-row: 2;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.slogan {
  grid-column: 2/4;
  grid-row: 3;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
