* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 30% 10% 10% 20% 30%;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(FireClean.jpg);
  background-size: cover;
  justify-items: center;
}

.sidnamn {
  grid-column: 2/4;
  grid-row: 2;
  justify-self: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.slogan {
  grid-column: 2/4;
  grid-row: 3;
  justify-self: center;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Privatperson {
  grid-column: 2;
  grid-row: 4;
  transition: transform 0.2s;
}

.Privatperson:hover {
  transform: scale(1.1);
}

.Företag {
  grid-column: 3;
  grid-row: 4;
  transition: transform 0.2s;
}

.Företag:hover {
  transform: scale(1.1);
}
